  
//
// MDC Theme
//

@import "@material/theme/color-palette";

$mdc-theme-primary: #1ab91b;
$mdc-theme-on-primary: white;
$mdc-theme-secondary: #424242;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-error: #b00020;
$mdc-theme-on-error: #ffffff;
$mdc-theme-surface: #ffffff;
$mdc-theme-on-surface: #000000;
$mdc-theme-background: #ffffff;
$mdc-theme-text-primary-on-background: rgba(0,0,0,0.87);
$mdc-theme-text-secondary-on-background: rgba(0,0,0,0.54);
$mdc-theme-text-hint-on-background: rgba(0,0,0,0.38);
$mdc-theme-text-disabled-on-background: rgba(0,0,0,0.38);
$mdc-theme-text-icon-on-background: rgba(0,0,0,0.38);
$mdc-theme-text-primary-on-light: rgba(0,0,0,0.87);
$mdc-theme-text-secondary-on-light: rgba(0,0,0,0.54);
$mdc-theme-text-hint-on-light: rgba(0,0,0,0.38);
$mdc-theme-text-disabled-on-light: rgba(0,0,0,0.38);
$mdc-theme-text-icon-on-light: rgba(0,0,0,0.38);
$mdc-theme-text-primary-on-dark: #fff;
$mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,0.7);
$mdc-theme-text-hint-on-dark: hsla(0,0%,100%,0.5);
$mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,0.5);
$mdc-theme-text-icon-on-dark: hsla(0,0%,100%,0.5);